@import url('https://fonts.googleapis.com/css?family=Cormorant');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Archivo');


.container {
  align-items: center;
  width: 30%;
  margin-top: 50px;
}

.commentBox {
  marigin: 15px;
  font-family: "Cormorant semibold";
  font-size: 20px;
  color: #656168;
}


.subject {
  font-family: "archivo bold";
  font-size: 30px;
  color: #544d54;
}

#hi {
  font-family: "Cormorant semibold";
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
}

.currentUser {
  font-family: "Lora Bold";
  font-size: 22px;
  color: #3a393a;
  font-style: italic;
  font-weight: bolder;
  float: right;
}
